#all{
		width:100%;
		font-family: Arial, Helvetica, sans-serif;

		margin-left:auto;
		margin-right:auto;
		top:0;
		left:0;
		position:absolute;
		}
		#global{
			width:100%;
			margin-left:auto;
			margin-right:auto;
		}

			.couche{
				height:100%;
				width:100%;
			}

			/* header et footer */
			.headerct{
				width:100%; height:100%;	color:#fff;		background-color:#115;	
			}
			
			.ftr{
						background			  : transparent;
					   background-color: #eee;
					   height:140px;
					   width:1px;
					   display:inline-block;
					   margin-top:10px;
					}
					
			.hdr{
						background			  : transparent;
					   background-color: #eee;
					   height:30px;
					   width:1px;
					   display:inline-block;
					   margin-top:10px;
					   
					}
			/* fin header et footer */

			/* HEAD */

			header{
			}
			
				.space25{margin-left:12px;margin-right:13px;}
				
				.spacedown{padding-top:125px;width:100%;}
				.spacedown2{padding-top:25px;width:100%;}
				
				.spacedownnotr{padding-top:125px;width:100%;background-color:#f4f4f4;}
				.spacedown2notr{padding-top:25px;width:100%;background-color:#f4f4f4;}
			
				#title{
					width:300px;	height:100%;		display:inline-block;
					text-align:center;
					 background: linear-gradient(to right, transparent, white,white,white,white,white,white,white, white,white,white,white,white,white,white, white,white,white,white,white,white,white, white,white,white,white,white,white,white, transparent);
						padding-top:25px;
						padding-bottom:12px;
					
				}
				

				
				
					#imgtitle{
						width:200px;											transform: translateY(14%);
					}
					
					.elementHead{
						margin-left:25px;margin-right:25px;height:100%;			transform: translateY(19%);	
						font-size:15px;	
						padding-top:35px;
						padding-bottom:12px;
						padding-left:10px;
						padding-right:10px;			
							
					}	
					.elementHead:hover{
						margin-left:25px;margin-right:25px;height:100%;			transform: translateY(19%);	
						font-size:15px;	
						padding-top:35px;
						padding-bottom:12px;
						padding-left:10px;
						padding-right:10px;	
						background-color:#3d3d6d;
						 border-radius: 1px;
					}			
				
			/* FIN HEAD */
			
			
			/* CONTENT */
			
			#content{width:100%;		height:1200px;		background-color:#f4f4f4;	color:#111;}
			
			#ACC_content{width:100%;		height:970px;		background-color:#f4f4f4;	color:#111;}
			#PREE_content{width:100%;		color:#111;		background-image:url("images/1b.jpg"); background-attachment: fixed;}
			#PRES_content{width:100%;		background-image:url("images/2b.jpg"); 	color:#111;background-attachment: fixed;}
			#STA_content{width:100%;		background-image:url("images/3b.jpg"); 	color:#111;background-attachment: fixed;}
			#MTL_content{width:100%;		background-color:#eee; 	color:#111;}
			
			#op1{}
			
			
			
				.PageTitle{
					font-size:40px;
					text-align:center;
					padding-top:35px;
					padding-bottom:35px;
					background-color:#fff;
				}	
			
				/* Accueil */

				.ACC_div1{
					height:350px; 
					width:39%;
					display:inline-block;
					margin-left:8%;
					margin-right:2%;
					margin-top:20px;
				}
				.ACC_div2{
					height:350px; 
					width:39%;
					display:inline-block;
					margin-left:3%;
					margin-right:5%;
					margin-top:20px;	
				}
					.ACC_i{
						width:100%;
						height:100%;
						opacity: 1;
						background-size: cover;
						
					 
						
					}
					.ACC_title{
						font-size:35px;
						color:#eee;
						transform: translateY(-350px);
						padding-top:12px;
						padding-bottom:12px;
						
						text-align:center;
						 border-width:1px;
						background:rgba(24, 24, 96,0.8);
					}
					.ACC_commentary{
						color:#eee;
						 transform: translate(0px, -124px);
						padding-left: 40px;
						padding-top:10px;
						height:50px;
						background:rgba(24, 24, 96,0.8);
					}
					
					.ACC_div1:hover .ACC_title{
						font-size:35px;
						color:#fff;
						transform: translateY(-350px);
						padding-top:12px;
						padding-bottom:12px;
						
						text-align:center;
						 border-width:1px;
						background:rgba(32, 32, 138,0.8);
					}
					.ACC_div1:hover .ACC_commentary{
						color:#fff;
						 transform: translate(0px, -124px);
						padding-left: 40px;
						padding-top:10px;
						height:50px;
						background:rgba(32, 32, 138,0.8);
					}
					
					.ACC_div2:hover .ACC_title{
						font-size:35px;
						color:#fff;
						transform: translateY(-350px);
						padding-top:12px;
						padding-bottom:12px;
						
						text-align:center;
						 border-width:1px;
						background:rgba(32, 32, 138,0.8);
					}
					.ACC_div2:hover .ACC_commentary{
						color:#fff;
						 transform: translate(0px, -124px);
						padding-left: 40px;
						padding-top:10px;
						height:50px;
						background:rgba(32, 32, 138,0.8);
					}
				
						/* background:rgba(200,230,255,0.8); */
				
						/* background:rgba(200,230,255,0.8); */

				
				/* Présentation */
				
				.PRE_ParaTitle{
					font-size:28px;
					margin-left:82px;
					padding-top:35px;
					padding-bottom:16px;
				}
				
				.PRE_ParaDecoration{
					 background: linear-gradient(to right, white, transparent);
					 border-radius: 28px;
					width:90%;
					margin-left:5%;
				}	
				.PRE_ParaDecoration2{

					width:84%;
					margin-left:8%;
				}		
					.PRE_ParaContent{
						width:95%;
						padding-top:15px;
						padding-bottom:15px;
						
						margin-left:35px;
						font-size:18px;
					}
			
			/* END CONTENT */
			
			
			/* FOOT */
			
			footer{
					height:160px;	vertical-align: middle;
			}
					
					.margintest{margin-top:30px;}
					.testt{margin-top:40px;width:90%;padding-top:30px;}
					#f1{
						display:inline-block;
						width:34%;
						height:160px;
						float:left;
						text-align:center;
					}
					#f2{
						display:inline-block;
						width:65%;
						height:160px;	
						float:right;
						text-align:center;
					}
			
			/* END FOOT */
			
			
			a{
				text-decoration: underline;
				color: #fff;
			}